datawaeve/src/main/mule/datawaeve.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6f964814-0b75-4b33-945a-dc63e49dd789" >
		<http:listener-connection host="0.0.0.0" port="5050" />
	</http:listener-config>
	<flow name="datawaeveFlow" doc:id="cab8a084-5424-4361-b8e6-43bd2c56c20c" >
		<http:listener doc:name="Listener" doc:id="ba6f9de5-e447-4c39-93fc-79953406287b" path="/data" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="833c31bf-0bde-4bc9-bf8c-e61687c7ff69" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="a" ><![CDATA[%dw 2.0
output application/json
---

payload
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bfdcb421-b194-4629-8d9c-9fb556a74fc4" message="#[payload]"/>
	</flow>
</mule>
